@model LojaGaucha.Models.Pessoa

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Template.cshtml";
}
<h2>Area dos Funcionarios</h2>
<hr />
<p>
    <li>@Html.ActionLink("Cadastrar Produto", "Create", "Produto")</li>
</p>
<p>
    <li>@Html.ActionLink("Cadastrar Categoria", "Create", "Categoria")</li>
</p>
<p>
    <li>@Html.ActionLink("Verificar Estoque", "Estoque", "Produto")</li>
</p>
<p>
    <li>@Html.ActionLink("Gerenciar Usuarios", "Index", "Pessoa")</li>
</p>